allow vendor_init default_prop:file { read };
allow vendor_init device:chr_file { open  write };
allow vendor_init proc_vm:file { write };
allow vendor_init system_prop:file { read };
