allow vendor_init default_prop:file { read };
allow vendor_init device:chr_file { write };
allow vendor_init tee_prop:property_service { set };
allow vendor_init tmpfs:dir { write };
allow vendor_init vold_prop:property_service { set };
allow vendor_init vts_status_prop:file { read };
